@import "base/reset";
@import "pages/home";
@import "pages/disenios";
@import "pages/contacto";
@import "pages/portafolio";
@import "pages/sobremi";

@media (max-width: 768px) {
.salto-linea{
    display:block;
}
  main{ 
    
    h1{
    padding-top: 20vw;
    text-align: center;
    }
    h2{
    padding-top: 40vw;
    justify-content: center;
}
}
  footer {
    margin-top: auto;
    h3 { 
    font-size:3vw;
    }
  }

.accesos-directos{
  flex-direction: column;
}
.carrousel-obras {
    flex-direction: column;
    height: auto !important;
    max-height: none !important;
    overflow: visible;

    .carousel-wrapper,
    .texto-sobremi {
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;
      max-height: none !important;
    }

    .carousel-wrapper {
      height: 50vh !important;

      .carousel-inner,
      .carousel-item {
        height: 100% !important;
        max-height: 100% !important;

        img {
          height: 100% !important;
          width: auto !important;
          object-fit: contain;
          display: block;
          margin: 0 auto;
        }
      }
    }

    .texto-sobremi {
      padding: 1rem;
      margin-top: 1rem;

      p {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }
  .carousel-item {
     margin-left: 0;
    }
.subtitulo-disenios{
    font-size: 2.5vw;
    margin: 1vw;
    padding: 0;
}


}


















